gevent==1.2.2
greenlet==0.4.13
gunicorn==19.7.1
wsgiref==0.1.2
-e git+https://github.com/nmmanas/django-compressor#egg=django-compressor
-e git+https://github.com/nmmanas/indigo.git@64bda186f933342d29dd781b75e62117a209ae53#egg=indigo
